.button {
    display: flex;
    width: 225px;
    border-radius: 30px;
    background: #F9F9F9;
    padding: 16px 54px;
    justify-content: center;
    align-items: center;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.4px;
}