.register {
    display: flex;
    justify-content: space-between;
    width: 1220px;
}

.register_page__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    height: 736px;
    flex-shrink: 0;
    border-radius: 30px;
    padding: 40px 64px;

    background: var(--color-black);
}

.register_superman__text {
    width: 444px;

    color: var(--color-text-white);
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.28px;
    margin-top: 92px;
    margin-bottom: 0;

    span {
        color: var(--color-text-superman-gray);
    }
}