.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-padding-mobile);
}


@media screen and (min-width: 768px) {
  .container {
    padding: 0 var(--container-padding-tablet);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 var(--container-padding-desktop);
    max-width: 1440px;
  }
}