.register_superman__text {
    width: 444px;

    color: var(--color-text-white);
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.28px;
    margin-top: 92px;
    margin-bottom: 0;

    span {
        color: var(--color-text-superman-gray);
    }
}